{{> header}}
<div class="flex justify-center">
<div
        class="flex flex-col items-center gap-5 mt-10">
                        <a href="/search"><button
                                        class="bg-[#246A73]  hover:bg-[#368F8B] font-bold text-white px-5 py-3 rounded-md">Search
                                        Student</button></a>
                        <a href="/insert"><button class="bg-[#246A73]  hover:bg-[#368F8B] font-bold text-white px-5 py-3 rounded-md">Insert
                                        Student</button></a>
                        <a href="/update"><button class="bg-[#246A73]  hover:bg-[#368F8B] font-bold text-white px-5 py-3 rounded-md">Update
                                        Student</button></a>
                        <a href="/delete"><button class="bg-[#246A73]  hover:bg-[#368F8B] font-bold text-white px-5 py-3 rounded-md">Delete
                                        Student</button></a>
</div>
</div>
{{> footer}}